// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   08-04-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 08-04-2017

page-items {
  /* Bof Header Input placeholder color */
  .text-input::-moz-placeholder {
    color: white;
    opacity: 0.8;
  }
  .text-input:-ms-input-placeholder {
    color: white;
    opacity: 0.8;
  }
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
    opacity: 0.8;
  }
  /* Eof Header Input placeholder color */

  .scroll-content {
    background: #f5f5f5;
  }
  .list-md {
    .item-inner {
      padding: 10px 0px;
    }
  }
}
